APP_NAME="Gestor AVA"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE="America/Santiago"
APP_URL=https://localhost

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_ES

DB_CONNECTION=usuarios
PG_HOST=postgres
PG_PORT=5432
PG_DATABASE=postgres
PG_USERNAME=postgres
PG_PASSWORD=postgres

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

CACHE_STORE=redis
CACHE_PREFIX=

REDIS_CLIENT=predis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

VITE_APP_NAME="${APP_NAME}"