# Environment
.env
.env.backup
.env.production
.env.local
.env.*.local

# Dependencies
/node_modules
/vendor

# Laravel
/bootstrap/ssr
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
.phpactor.json
.phpunit.cache
.phpunit.result.cache
auth.json
Homestead.json
Homestead.yaml

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
/.fleet
/.idea
/.nova
/.vscode
/.zed

# OS - macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# OS - Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
